@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wdth,wght@75..100,400..700&family=Oi&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: dynaPuff, sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        min-height: 100vh;
        background: url(/Resources/Pictures/Background-1.jpg) no-repeat center center/cover;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 10px;
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 650px;
        position: fixed;
        top: 10%;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
        border: 3px solid rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .flex-1 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 400;
    }

    .user-profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        width: 100%;
        height: 100%;
    }

    .user-profile img {
        width: 50px;
        height: 50px;
    }

    .user-profile .user-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        margin-left: 10px;
    }

    .user-info span:first-child {
        font-size: 1rem;
        font-weight: 600;
    }  

    .user-info span:nth-child(2) {
        font-size: 0.8rem;
    }

    .date-time {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        width: 100%;
        height: 100%;
        font-size: 0.8rem;
    }

    .flex-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        font-size: 1rem;
        font-weight: 400;
    }

    .flex-2 label {
        margin-bottom: 5px;
    }

    .flex-2 .input-area {
        display: flex;
        flex-direction: column;

        gap: 10px;
        width: 100%;
        height: 100%;
    }

    .priority-date {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .todo-title {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    .priority, .date {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }    

    select, input, textarea {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        background: rgba(67, 67, 67, 0.20);
        color: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
    }

    textarea {
        color: #fff;
        height: 100px;
        resize: none;
    }

    textarea::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }

    .button-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-area button {
        display: flex;
        justify-content: center;

        padding: 10px 30px;
        border-radius: 10px;
        background: rgba(67, 67, 67, 0.20);
        color: #fff;
        border: none;
        outline: none;
        font-weight: 500;
    }

    .button-area button:hover {
        transform: scale(1.1);
    }

    hr { 
        display: block;

        margin: 20px 0;
        width: 100%;
        border-color: rgba(255, 255, 255, 0.5);
    } 

    .flex-3 {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        background: rgba(67, 67, 67, 0.20);
        border: none;
        outline: none;
        overflow-y: auto;
        font-size: 14px;
    }

    .flex-3 > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 20px;
        width: 100%;
        font-weight: 500;
    }

    .flex-3 span {
        margin-left: 10px;
    }

    #clear {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 70px;
        height: 22px;
        border-radius: 10px;
        background: transparent;
        border: none;
        outline: none;
        font-weight: 500;
        color: #fff;
    }

    .flex-3 hr {
        margin: 10px 0;
    }

    #tabs .activate {
        padding: 2px 5px;
        border-radius: 5px;
        background: rgba(67, 67, 67, 0.5);
    }

    #todo-content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    #done-content {
        display: none;
    }

    button:hover, #todo-priority:hover, #todo-date:hover {
        cursor: pointer;
    }

    #tabs > span:hover, #tabs > button:hover, #clear:hover {
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 5px;
        background: rgba(67, 67, 67, 0.5);
    }

    .todo-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 10px 15px;
        margin-bottom: 10px;
        gap: 10px;
        border-radius: 10px;
        background: rgba(67, 67, 67, 0.20);
        position: relative;
        transition: box-shadow 0.3s ease;
    }
    
    .todo-element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 280px;
    }

    .todo-element .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgba(67, 67, 67, 0.20);
        border: 2px solid rgba(255, 255, 255, 0.20);
        appearance: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .todo-element .checkbox:checked {
        background: rgb(0, 200, 255);
        transform: scale(1.1);
    }

    .todo-element .checkbox:checked::before {
        content: '\2713';
        font-size: 1rem;
        color: #000;
    }

    .todo-element .todo-text {
        font-size: 16px;
        width: 150px;
        word-break: break-word;
    }

    .todo-element .priority-box {
        padding: 0;
        width: 10px;
        height: 10px;
        background: rgba(67, 67, 67, 0.20);
        border: 1px solid #fff;
        appearance: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .priority-box.low-prior {
        background-color: #fffb11;
    }

    .priority-box.med-prior {
        background-color: #f59e0b;
    }

    .priority-box.high-prior {
        background-color: #ef4444;
    }

    .todo-item .delete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 30px;
        height: 30px;
        color: maroon;
        background: transparent;
        border: none;
        appearance: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    /*
    #todo-ul {
        width: 100%;
    }
    
    */
